fastapi
uvicorn
sqlalchemy
pymysql
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
chromadb
requests
websockets
langchain-ollama
pytest
pypdf
python-docx
firebase-admin
google-auth
google-auth-oauthlib
